@import url(../root.css);

body{
    position: relative;
}

.gallery-section{
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
}

.gallery-section .image-container{
    width: calc(100%/3 - 16px) ;
    height: 250px;
    margin: var(--margin-8px);
}


.gallery-section .image-container img{
    width: 100%;
    height: 100%;
}

body.overlay{
    overflow: hidden;
    background-color: rgba(50, 50, 50, 0.8);
}

body.overlay .gallery-section,
body.overlay .footer{
    opacity: 0.3;

}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/* MODAL */

.modal {
    display: none;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
}

.modal.show{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    z-index: 1000;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px var(--neutral-900);
}

.modal-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal .modal-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* .close-icon{
    min-width: 24px;
    height: 24px;
} */

.close-icon-container{
    cursor: pointer;
    position: fixed;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    height: 48px;
    background-color: var(--neutral-50);
    border-radius: var(--border-radius-50);
    box-shadow: 0px 0px 10px var(--neutral-900);
}

@media screen and (min-width: 1120px) {
    .modal-container{
        max-width: 80%;
        height: 80%;
    }
}

@media screen and (max-width: 768px) {
    .gallery-section .image-container{
        width: calc(100%/2 - 16px) ;
    }
    .modal-container{
        min-width: 60%;
        max-width: 80%;
        height: auto
    }
}

@media screen and (max-width: 550px) {
    .modal-container{
        min-width: 400px;
        max-width: 80%;
        height: auto;
    }
}


/* MOBILE */
@media screen and (max-width: 425px) {
    .max-width-container{
        margin: 32px 24px;
    }

    .gallery-section .image-container{
        width: 100%;
    }
    .modal-container{
        max-width: 80% !important;
        min-width: 80% !important;
        height: auto;
    }

    .close-icon-container {
        min-width: 32px;
        height: 32px;
    }

}

