@import url(../root.css);


/* HOMEPAGE STYLES */
.hero-section{
    display: flex;
    position: relative;
    width: 100vw;
    height: 550px;
}

.hero-image-container{
    position: absolute;
    inset: 0;
    background: url(../Images/Hero-image.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.overlay{
    /* position: absolute;
    inset: 0;
    z-index: 10; */
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0));
}


.hero-text-container{
    position: relative;
    z-index: 50;
    max-width: 600px;
    margin-left: 160px;
    margin-block: auto;
    
}

.hero-text-container .hero-text-header .small-header{
    color: var(--primary-50);
}

.hero-text-container .hero-text-header h1{
    color: var(--neutral-50);
}

.hero-text-container .hero-text-body{
    color: var(--neutral-200);
}

.hero-cta a{
    color: var(--neutral-50);
}

/* ABOUT US SECTION */


.about-us-section{
    margin: 0px auto;
    padding-block: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-text-container{
    max-width: 645px;
    text-align: center;
}

.about-text-body p{
    color: var(--neutral-600);
}

.about-images-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin-block: var(--margin-24px);
}

.about-images-row .about-image-container{
    height: 100%;
    width: calc(100%/3 - 24px);
    border-radius: var(--border-radius-8px);
    margin-bottom: var(--margin-16px);
}

.about-us-image{
    width: 100%;
    border-radius: var(--border-radius-8px);
}

.about-us-section a{
    margin: 0 auto;
}

.about-us-section button{
    margin-inline: auto;
}


/* OUR SERVICES */

.our-services-section{
    padding-block: 48px;
    text-align: center;
}

.our-services-section .service-container{
    margin-block: var(--margin-24px);
}

.service-row{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: var(--margin-24px);   
}

.our-service-card{
    display: flex;
    width: calc(100%/3 - 24px);
    flex-direction: column;
    align-items: center;
    padding: 24px;
    background-color: var(--neutral-100);
    border-radius: var(--border-radius-16px);
    margin-block: var(--margin-16px);
    transition: all 0.3s ease;
    border: 0.5px solid transparent;
    min-height: 260px;
    max-height: 100%;
}

.icon-container{
    width: 76px;
    height: 76px;
    border-radius: var(--border-radius-50);
    /* background-color: var(--primary-50); */
    border: 1px solid var(--primary-50);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--margin-24px);
}

.our-service-card:hover{
    box-shadow: 0 0 15px 1px var(--neutral-100);
    border-color: var(--neutral-200);
}

.our-service-card:hover .icon-container{
    background-color: var(--primary-50);
}

.our-service-header{
    color: var(--neutral-900);
    margin-bottom: var(--margin-16px);
}

.our-service-card p{
    color: var(--neutral-600);
}

.service-icon{
    width: 48px;
}

.our-services-section button{
    margin-inline: auto;
}


/* GALLERY CONTAINER */

.gallery-section{
    margin: 0px auto;
    padding-block: 48px;
    text-align: center;
}

.gallery-section .photo-container{
    margin-block: var(--margin-24px);
}

.gallery-section .gallery-photo-row{
    margin-bottom: var(--margin-24px);
}

.gallery-photo-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.gallery-photo-row .gallery-image-container{
    width: calc(100%/4 - 16px);
    border-radius: var(--border-radius-16px);
    margin-block: var(--margin-16px);
}


.gallery-image-container .gallery-image{
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius-16px);
}

.gallery-section button{
    margin-inline: auto;
}

/* OUR CLIENTS  */

.our-clients-section{
    text-align: center;
}

.client-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 16px;

}

.client-image-container{
    width: 90px;
    height: auto;
}

.client-image{
    width: 100%;
}


/* TESTIMONIALS SECTION */
.testimonials-section{
    padding-block: 48px;
    text-align: center;
}

.testimonials-section .section-body{
    margin-top: var(--margin-24px);
}

.testimonials-section .testimonials-row{
    display: flex;
    overflow-x: scroll;
    padding-bottom: 16px;
    margin-block: var(--margin-16px);
}

.testimonial-card{
    position: relative;
    min-width: 310px;
    max-width: 310px;
    height: 320px;
    text-align: center;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: var(--white);
    border-radius: var(--border-radius-16px);
    border: 1px solid var(--neutral-200);
    border: 1px solid var(--neutral-500);
    margin-right: var(--margin-16px);
}

.testimonial-card:last-child{
    margin-right: 0;
}

.testimonials-row::-webkit-scrollbar{
    height: 8px;
    width: 8px;
    transition: all 0.3s ease-in-out;
    margin-top: 16px;
}

.testimonials-row::-webkit-scrollbar-track {
    background: var(--neutral-50);
    border-radius: var(--border-radius-16px);
}

.testimonials-row::-webkit-scrollbar-thumb {
    background: var(--primary-700);
    border-radius: var(--border-radius-16px);
}

.testimonials-row::-webkit-scrollbar-thumb:hover {
    background: var(--primary-500);
}

.testimonial-icon{
    color: var(--primary-700);
}

.testimonial-card .testimonial-poster-name{
    margin-top: auto;
}

.testimonial-card h4{
    color: var(--neutral-600);
}

.testimonial-card p{
    color: var(--neutral-900);
   font-style: var(--font-italic);
   margin-bottom: 24px;
   display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/* CONTACT US SECTION */
.contact-us-section{
    padding-block: 48px;
    margin: 0 auto;
}

.contact-us-section .section-header{
    text-align: center;
}

.contact-us-section .section-body{
    display: flex;
    width: 100%;
}

.contact-map-container{
    height: 500px;
    width: 50%;
}

.contact-map-container .contact-map-image{
    height: 100%;
    width: 100%;
}

.contact-detail-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container-item{
    display: flex;
    margin-bottom: var(--margin-24px);
}

.contact-container-item:last-child{
    margin-bottom: 0;
}

.contact-icon-container{
    width: 24px;
    height: 24px;
    margin-right: 16px;
}






@media screen and (max-width: 1120px) {
    .max-width-container{
        margin: 0 60px;
    }
    .hero-text-container{
        margin: auto 60px;
    }
}


/* TAB */
@media screen and (max-width: 830px) {

    .max-width-container{
        margin: 0 60px;
    }

    .hero-text-container{
        margin-left: 60px;
        margin-block: auto;
    }

    /* ABOUT US */
    .about-images-row{
        justify-content: center;
    }
    
    .about-images-row .about-image-container{
        width: calc(100%/2 - 16px);
        margin-inline: 8px;
        justify-content: space-between;
    }
    
    .our-services-section{
        margin: 0px 60px;
    }
    .service-row{
        align-items: start;
    }
    .our-service-card{
        /* margin-right: 16px; */
        margin-top: 16px;
        width: calc(100%/2 - 8px);
    }

    /* GALLERY  */
    .gallery-photo-row .gallery-image-container{
        width: calc(100%/2 - 16px);
    }

    /* CONTACT US  */
    .contact-us-section .section-body{
        flex-direction: column;
    }

    .contact-map-container{
        height: auto;
        width: 100%;
    }

    .contact-detail-container{
        width: 100%;
        justify-content: start;
        margin-top: var(--margin-16px);
    }

    .contact-map-container .contact-map-image{
        width: auto;
        height: auto;
    }
}


@media screen and (max-width: 550px) {
    .about-images-row .about-image-container {
        width: 100%;
    }
    .our-service-card {
        width: 100%;
    }
}

/* MOBILE */
@media screen and (max-width: 426px) {

    .max-width-container{
        margin: 0 24px;
    }

    .hero-text-container {
        margin-inline: 24px;
        margin-block: auto;
    }
    .overlay {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    }

    .about-images-row .about-image-container{
        width:100%;
        margin-inline: 0;
        margin-bottom: var(--margin-8px);
    }

    .our-service-card {
        margin-right: 0;
        margin-top: var(--margin-8px);
        width: 100%;
    }


    .gallery-photo-row .gallery-image-container {
        width: 100%;
        margin-right: 0;
    }

}